<html>
    <head>
        <title>Blog dos Filmes de Terror</title>
    </head>
    <body>
        <div>
            <h1><a href="">Clássicos do Terror</a></h1>
            <br />
            <em>Praesent vestibulum condimentum massa, nec fringilla ligula porta vel. <strong>Sed accumsan a diam et vehicula. Pellentesque ligula velit, fringilla varius tortor vel, convallis lobortis felis.</strong> Donec luctus ipsum vehicula metus lobortis, et suscipit tortor varius. Aliquam varius sagittis orci sit amet ornare. Etiam libero arcu, sollicitudin et nunc aliquam, aliquam ullamcorper turpis. Mauris non turpis tristique, consequat felis vel, auctor justo. Cras ullamcorper vestibulum enim, ullamcorper gravida leo congue vel. Ut lobortis sapien velit, quis consectetur enim venenatis vel. Donec efficitur, odio in molestie posuere, tellus massa convallis nisl, mollis consectetur eros diam vitae risus. </em>
        </div>

        <div>
            <p>published: 25.03.2017, 16:40</p>
:            <h2><a href="">Década de 70</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <ul><li>primeiro item</li><li>segundo item</li> <li>terceiro item</li></ul>
        </div>

        <div>
            <p>published: 25.03.2017, 16:52</p>
            <h2><a href="">Década de 80</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
            <ul><li>primeiro item</li><li>segundo item</li> <li>terceiro item</li></ul>
        </div>
    </body>
</html>
